<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> EduMonk</h1>
<div class="row">
	<div class="col-lg-3 col-lg-offset-3"><a class="btn btn-primary" href="/login">Student</a></div>
  <div class="col-lg-3 "><a class="btn btn-primary">Investor</a></div>

</div>

		

</div>
</body>
</html>
